@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700;900&display=swap");
h1, h2, p, nav, header .cta {
  margin: 0 6.4%;
}

.btn {
  transition: 0.8s;
}

* {
  margin: 0;
  padding: 0%;
  border: 0;
  font-size: 100%;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Barlow', sans-serif;
}

h1, h2 {
  color: #162441;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 900;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 500;
  margin-top: 1.375rem;
  color: #7b8bad;
  text-align: center;
}

body {
  background-color: white;
}

.btn {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  background-color: #e8eff2;
  border-radius: 8px;
  padding: 0.6875em 0.90625em 1.125em 0.84375em;
}

.btn:hover {
  color: white;
  background-color: #162441;
}

.btn:focus {
  color: white;
  background-color: #162441;
}

.btn--orange {
  background-color: #f26818;
  color: white;
}

.btn--orange:hover {
  color: white;
  background-color: #ff9b61;
}

.btn--orange:focus {
  color: white;
  background-color: #ff9b61;
}

.card {
  text-align: center;
}

.card .img-container {
  display: inline-block;
  width: 4.0625rem;
  height: 4.0625rem;
  background-color: #f26818;
  background-image: url("../assets/shared/icon-compatible.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  margin-bottom: 3rem;
}

.card--2 .img-container {
  background-image: url("../assets/shared/icon-bluetooth.svg");
}

.card--3 .img-container {
  background-image: url("../assets/shared/icon-battery.svg");
}

.card--4 .img-container {
  background-image: url("../assets/shared/icon-light.svg");
}

nav {
  margin-top: 1.4375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  margin-top: 4rem;
  overflow: hidden;
}

header p {
  text-align: left;
}

header .cta {
  margin-top: 2.4375rem;
  margin-bottom: 4rem;
}

header .cta .btn {
  display: inline;
}

header .cta p {
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
}

header img {
  position: relative;
  width: 23.25rem;
  border-radius: 20px;
  right: -6.4%;
}

footer {
  margin-top: 6.4375rem;
  margin-bottom: 3.5625rem;
}

.grid--2 {
  margin-top: 1.5rem;
}

.grid--2 .img {
  border-radius: 20px;
}

.grid--2 .mask {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 8.0625rem;
  left: -1.375rem;
}

.grid--2 .mask:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #f26818;
  opacity: 0.75;
}

.grid--2 .img--1 {
  position: relative;
  width: 8.0625rem;
}

.grid--2 .img--2 {
  width: 13.75rem;
}

.grid--2 h2 {
  margin-top: 4.6875rem;
}

.grid--3 {
  margin-top: 2.9375rem;
}

.grid--3 .card {
  margin-top: 4.4375rem;
}
/*# sourceMappingURL=mains.css.map */