.card {
    text-align: center;
    .img-container {
        display: inline-block;
        width: toRem(65);
        height: toRem(65);
        background-color: $orange;
        background-image: url('../assets/shared/icon-compatible.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 16px;
        margin-bottom: toRem(48);
    }   
}

.card--2 {

    .img-container {
        background-image: url('../assets/shared/icon-bluetooth.svg');
    }
    
}

.card--3 {
    .img-container {
        background-image: url('../assets/shared/icon-battery.svg');
    }
}

.card--4 {
    .img-container {
        background-image: url('../assets/shared/icon-light.svg');
    }
}