@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700;900&display=swap');

body {
    font-family: 'Barlow', sans-serif;
}

h1, h2 {
    @extend %page-margin;
    color: $header-text-color;
    text-transform: uppercase;
}

h1 {
    @include text-format(48, 48, 900);

}

h2 {
    @include text-format(32, 36, 900);
    text-align: center;

    @include media-md {
        text-align: left;
    }
}

p {
    @include text-format(16, 26, 500);
    @extend %page-margin;
    margin-top: toRem(22);
    color: $primary-text-color;
    text-align: center;

    @include media-md {
        text-align: left;
    }
}