.grid--2 {
    margin-top: toRem(24);

    @include media-md {
        margin: toRem(40) 5.08% 0 5.08%;
        display: grid;
        column-gap: toRem(30);
        row-gap: toRem(72);
        align-items: center;
        grid-template-areas: 'one two' 'three four';
    }

    @include media-lg {
        position: relative;
        margin: toRem(138) 11.46% 0 0;
        row-gap: 0;
        grid-template-columns: 11.46% 1fr 1fr 1fr;
        grid-template-areas: 'rect one two .' 'rect one two three' 'rect one two four' 'rect one two .';
        align-items: flex-end;
    }

    .img {
        border-radius: 20px;
    }

    .mask {
        display: inline-block;
        overflow: hidden;
        position: relative;
        left: toRem(-22); 

        @include media-md {
            left: 0;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            background: $orange;
            opacity: 0.75;
        }
    }

    .img--1 {
        position: relative;
        display: inline-block;
        width: toRem(129); 
        height: toRem(193); 
        background-image: url('../assets/mobile/image-phone-and-keyboard.jpg'); 
        background-size: contain;

        @include media-md {
            grid-area: one;
            margin: 0;
            width: toRem(214);
            height: toRem(320);
            background-image: url('../assets/tablet/image-phone-and-keyboard.jpg');
        }

        @include media-lg {
            width: toRem(255);
            height: toRem(480);
            background-image: url('../assets/desktop/image-phone-and-keyboard.jpg');
        }
    }

    .img--2 {
        display: inline-block;
        width: toRem(220);
        height: toRem(193);
        background-image: url('../assets/mobile/image-glass-and-keyboard.jpg');
        background-size: contain;

        @include media-md {
            margin: 0%;
            grid-area: two;
            width: toRem(445);
            height: toRem(320);
            background-image: url('../assets/tablet/image-glass-and-keyboard.jpg');
        }

        @include media-lg {
            width: toRem(445);
            height: toRem(480);
            background-image: url('../assets/desktop/image-glass-and-keyboard.jpg');
        }
    }

    h2 {
        margin-top: toRem(75);

        @include media-md {
            grid-area: three;
            margin: 0;
            text-align: left;
        }

        @include media-lg {
            margin: 0 auto;
            max-width: toRem(255);
        }
    }

    p {

        @include media-md {
            grid-area: four;
            margin: 0 auto;
            text-align: left;
            max-width: toRem(400);
        }

        @include media-lg {
            max-width: toRem(255);
            margin-top: toRem(25);
        }
    }

    .rectangle {
        display: none;
        width: 255px;
        height: 236px;
        background: #E8EFF2 0% 0% no-repeat padding-box;
        border-radius: 20px;
        opacity: 1;
        grid-area: rect;

        @include media-lg {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: -100px;
        }
    }
}