header {
    margin-top: toRem(64);
    overflow: hidden;


    @include media-md {
        margin-top: toRem(62);
        margin-left: 5.08%;
        display: grid;
        grid-template-columns: auto auto;
    }

    @include media-lg {
        margin: toRem(62) 0 0 11.46%;
        grid-template-columns: auto auto auto;
        column-gap: toRem(30);
    }

    .cell {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        max-width: toRem(339);

        @include media-md {
            margin: 0;
        }

        @include media-lg {
            @include text-format(56, 56, 900);
        }
    }

    p {
        max-width: toRem(500);
        text-align: left;

        @include media-md {
            margin-left: 0
        }
    }
    
    .cta {
        @extend %page-margin;
        margin-top: toRem(39);
        margin-bottom: toRem(64);
        min-width: toRem(315);
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-md {
            max-width: toRem(350);
            margin-left: 0;
        }

        
        .btn {
            display: inline;

        }

        p {
            margin: 0;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .img {
        position: relative;
        background-image: url('../assets/mobile/image-keyboard.jpg');
        background-size: contain;
        width: toRem(372);
        height: toRem(331);
        border-radius: 20px;
        right: -6.4%;

        @include media-sm {
            background-image: url('../assets/tablet/image-keyboard.jpg');
            width: toRem(478);
            height: toRem(425);
            right: -35%;   
        }

        @include media-md {
            right: -5.08%
        }

        @include media-lg {
            background-image: url('../assets/desktop/image-keyboard.jpg');
            width: toRem(540);
            height: toRem(480);
        }
    }

    .rectangle {
        position: relative;
        display: none;
        width: 255px;
        height: 240px;
        background: #E8EFF2 0% 0% no-repeat padding-box;
        border-radius: 20px;
        margin-left: -40%;
        right: -45%;

        @include media-lg {
            display: inline-block;
        }
    }
}