nav {
    @extend %page-margin;
    margin-top: toRem(23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include media-md {
        margin-top: toRem(49);
    }
}