$orange: hsla(22, 89%, 52%, 1);
$light-orange: hsla(22, 100%, 69%, 1);
$dark-blue: hsla(220, 50%, 17%, 1);
$blue-gray: hsla(221, 23%, 58%, 1);
$gray: hsla(198, 28%, 93%, 1);
$white: hsla(0, 0%, 100%, 1);

$header-text-color: $dark-blue;
$primary-text-color: $blue-gray;